//mixin start
$grid-padding-width: 10px !default;

@mixin display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin flex-wrap($value: nowrap) {
  // No Webkit Box fallback.
  -webkit-flex-wrap: $value;
  -moz-flex-wrap: $value;
  -ms-flex-wrap: $value;
  flex-wrap: $value;
}

@mixin flex($fg: 1, $fs: null, $fb: null) {
  -webkit-box-flex: $fg;
  -webkit-flex: $fg $fs $fb;
  -moz-box-flex: $fg;
  -moz-flex: $fg $fs $fb;
  -ms-flex: $fg $fs $fb;
  flex: $fg $fs $fb;
}

@mixin align-items($value: stretch) {
  @if $value==flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
  }

  @else if $value==flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  }

  @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }

  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}

@mixin align-self($value: auto) {
  -webkit-align-self: $value;
  -moz-align-self: $value;

  @if $value==flex-start {
    -ms-flex-item-align: start;
  }

  @else if $value==flex-end {
    -ms-flex-item-align: end;
  }

  @else {
    -ms-flex-item-align: $value;
  }

  align-self: $value;
}

@mixin justify-content($value: flex-start) {
  -webkit-justify-content: $value;
  -moz-justify-content: $value;
  justify-content: $value;
}

//mixin end
.row {
  @include display-flex();
  padding: 0;
  width: 100%;
}

.row-wrap {
  @include flex-wrap(wrap);
}


.col {
  @include flex(1);
  display: block;
  padding: 0;
  width: 100%;
}

/* Vertically Align Columns */

/* .row-* vertically aligns every .col in the .row */

//垂直方向

//竖直方向上居中对齐
.row-center {
  @include align-items(center);
}

//顶端对齐
.row-top {
  @include align-items(flex-start);
}

//底部对齐
.row-bottom {
  @include align-items(flex-end);
}

//item第一行文字的底部对齐
.row-stretch {
  @include align-items(stretch);
}

//当item未设置高度时，item将和容器等高对齐
.row-baseline {
  @include align-items(baseline);
}

//水平方向
//左对齐
.row-col-start {
  @include justify-content(flex-start);
}

//右对齐
.row-col-end {
  @include justify-content(flex-end);
}

//居中对齐
.row-col-center {
  @include justify-content(center);
}

//两端对齐
.row-col-between {
  @include justify-content(space-between);
}

//沿轴线均匀分布
.row-col-around {
  @include justify-content(space-around);
}

//分散区分间隔，最后一行居左对齐
.row-col-auto {

  &::after {
    content: "";
    flex: auto;
  }
}

/* .col-* vertically aligns an individual .col */

.col-top {
  @include align-self(flex-start);
}

.col-bottom {
  @include align-self(flex-end);
}

.col-center {
  @include align-self(center);
}

/* Column Offsets */

.col-offset-10 {
  margin-left: 10%;
}

.col-offset-20 {
  margin-left: 20%;
}

.col-offset-25 {
  margin-left: 25%;
}

.col-offset-33,
.col-offset-34 {
  margin-left: 33.3333%;
}

.col-offset-50 {
  margin-left: 50%;
}

.col-offset-66,
.col-offset-67 {
  margin-left: 66.6666%;
}

.col-offset-75 {
  margin-left: 75%;
}

.col-offset-80 {
  margin-left: 80%;
}

.col-offset-90 {
  margin-left: 90%;
}

/* Explicit Column Percent Sizes */

/* By default each grid column will evenly distribute */

/* across the grid. However, you can specify individual */

/* columns to take up a certain size of the available area */

.col-5 {
  @include flex(0, 0, 5%);
  max-width: 5%;
}

.col-10 {
  @include flex(0, 0, 10%);
  max-width: 10%;
}

.col-15 {
  @include flex(0, 0, 15%);
  max-width: 15%;
}

.col-20 {
  @include flex(0, 0, 20%);
  max-width: 20%;
}

.col-25 {
  @include flex(0, 0, 25%);
  max-width: 25%;
}

.col-30 {
  @include flex(0, 0, 30%);
  max-width: 30%;
}

.col-33,
.col-34 {
  @include flex(0, 0, 33.3333%);
  max-width: 33.3333%;
}

.col-35 {
  @include flex(0, 0, 35%);
  max-width: 35%;
}

.col-40 {
  @include flex(0, 0, 40%);
  max-width: 40%;
}

.col-45 {
  @include flex(0, 0, 45%);
  max-width: 45%;
}

.col-50 {
  @include flex(0, 0, 50%);
  max-width: 50%;
}

.col-55 {
  @include flex(0, 0, 55%);
  max-width: 55%;
}

.col-60 {
  @include flex(0, 0, 60%);
  max-width: 60%;
}

.col-65 {
  @include flex(0, 0, 65%);
  max-width: 65%;
}

.col-66,
.col-67 {
  @include flex(0, 0, 66.6666%);
  max-width: 66.6666%;
}

.col-70 {
  @include flex(0, 0, 70%);
  max-width: 70%;
}

.col-75 {
  @include flex(0, 0, 75%);
  max-width: 75%;
}

.col-80 {
  @include flex(0, 0, 80%);
  max-width: 80%;
}

.col-85 {
  @include flex(0, 0, 85%);
  max-width: 85%;
}

.col-90 {
  @include flex(0, 0, 90%);
  max-width: 90%;
}

.col-95 {
  @include flex(0, 0, 95%);
  max-width: 95%;
}

.col-100 {
  @include flex(0, 0, 100%);
  max-width: 100%;
}

/*_grid End*/

.flex {
  &-left {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
  }

  &-center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
  }

  &-right {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
  }

  &-top {
    display: flex;
    display: -webkit-flex;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }

  &-middle {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
  }

  &-bottom {
    display: flex;
    display: -webkit-flex;
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }

  &-left-top {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start; //水平方向
    -webkit-justify-content: flex-start;
    align-items: flex-start; //垂直方向
    -webkit-align-items: flex-start;
  }

  &-left-center {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: center;
    -webkit-align-items: center;
  }

  &-left-bottom {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }

  &-center-top {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }

  &-center-center {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center;
    -webkit-align-items: center;
  }

  &-center-bottom {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }

  &-right-top {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }

  &-right-center {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: center;
    -webkit-align-items: center;
  }

  &-right-bottom {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }
}


.t {
  &l {
    text-align: left;
  }

  &c {
    text-align: center;
  }

  &r {
    text-align: right;
  }

  &t {
    vertical-align: top;
  }

  &m {
    vertical-align: middle;
  }

  &b {
    vertical-align: bottom;
  }
}